Repository SubZero-Robotics/2024-CommandRobot, pull requests merged in 2024-02, with the labels that each got.

#50 Improve State Bindings and LED Commands
  src/main/cpp/RobotContainer.cpp
  src/main/cpp/moduledrivers/ConnectorX.cpp
  src/main/cpp/subsystems/LedSubsystem.cpp
  src/main/cpp/subsystems/StateSubsystem.cpp
  src/main/include/Constants.h
  src/main/include/RobotContainer.h
  src/main/include/subsystems/BaseSingleAxisSubsystem.h
  src/main/include/subsystems/StateSubsystem.h
Labels: enhancement, controls

#63 Update docs with IDs, state, and commands
  README.md
Labels: documentation

#69 Add LED Logging
  .gitignore
  src/main/cpp/moduledrivers/ConnectorX.cpp
  src/main/cpp/subsystems/LedSubsystem.cpp
  src/main/cpp/subsystems/StateSubsystem.cpp
  src/main/include/Constants.h
  src/main/include/moduledrivers/ConnectorX.h
Labels: bug, enhancement

#72 Change the velocity based pids
  src/main/cpp/subsystems/ScoringSubsystem.cpp
  src/main/include/Constants.h
  src/main/include/subsystems/ScoringSubsystem.h
Labels: enhancement, Scoring subsystem

#93 Make outtake use scoring subsystem
  src/main/cpp/RobotContainer.cpp
  src/main/cpp/subsystems/ScoringSubsystem.cpp
  src/main/include/Constants.h
  src/main/include/commands/IntakeInSecondaryCommand.h
  src/main/include/commands/IntakeOutCommand.h
  src/main/include/subsystems/ScoringSubsystem.h
  src/main/include/utils/CommandUtils.h
Labels: Scoring subsystem

#96 Fix LEDs once and for all
  src/main/cpp/moduledrivers/ConnectorX.cpp
  src/main/cpp/subsystems/LedSubsystem.cpp
  src/main/include/Constants.h
  src/main/include/moduledrivers/ConnectorX.h
Labels: bug

#97 Snap to Angle
  src/main/cpp/RobotContainer.cpp
  src/main/cpp/subsystems/StateSubsystem.cpp
  src/main/include/Constants.h
  src/main/include/commands/TurnToAngleCommand.h
  src/main/include/utils/CommandUtils.h
Labels: feature, drive subsystem, controls

#98 UNLIMITED POWERRRRR
  src/main/cpp/RobotContainer.cpp
  src/main/cpp/subsystems/StateSubsystem.cpp
  src/main/include/Constants.h
  src/main/include/subsystems/StateSubsystem.h
Labels: feature, drive subsystem, intake subsystem, Scoring subsystem, controls
